{% extends 'indexpage/base.html' %}
{% block content %}
    <style>
        .container{
        margin-top:100px;
        margin-bottom:100px;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        }
        form{
        width:40%;
        background:white;
        padding:20px;
        font-size:18px;
        }
        form h3{
        text-align:center;
        font-weight:bold;
        padding:20px;
        }
        label{
        font-weight:bold;
        }
        .form-group{
        margin-bottom:20px;
        }
        ::placeholder{
        color:grey;
        }
        em{
        font-size:14px;
        }
    </style>


<div class="container">
   <form method = "post">

            {% csrf_token %}
            <h3>User Login</h3>

       <div class="form-group">
                           <label>Username</label>
                <input type = "text" class="form-control" name = "username" placeholder="Enter Username">
                <div class="invalid-feedback">Please fill this field.</div>
       </div>

       <div class="form-group">
                           <label>Password</label>
                <input type = "password" class="form-control"  name = "password" placeholder="Enter Password">
                <div class="invalid-feedback">Please fill this field.</div>
       </div>

       <div class="form-group">
           <input type ="submit" class="btn btn-success btn-block" value="Login">
       </div>

                <em>
                    Not a Member? <a href = "{% url 'REGISTER' %}">sign up</a>
                </em>

</form>
</div>
{% endblock %}
