{% extends 'indexpage/base.html' %}
{% block content %}
{% load static %}
    <style>
        .container_fluid{
        margin-top:100px;
        margin-bottom:100px;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        }
        form{
        width:50%;
        background:white;
        padding:20px;
        font-size:18px;
        }
        form h3{
        text-align:center;
        font-weight:bold;
        padding:20px;
        }
        label{
        font-weight:bold;
        }
        .col{
        margin-bottom:20px;
        }
        :: placeholder{
        color:grey;
        }
        em{
        font-size:14px;
        }
        .errors{
        color:red;
        font-size:16px;
        }
    </style>

<div class="container_fluid">
    <form method ="post" >

                    {% csrf_token %}
                    <h3>Sign Up</h3>

            <div class="row">

            <div class="col"> <label>First Name</label>
                <input type="text" class="form-control"
                       name="first_name" maxlength="150" placeholder="Enter First name" id="id_first_name" required>
                <div class="invalid-feedback">Please fill this field.</div>
            </div>

            <div class="col"> <label>Last Name</label>
                <input type="text" class="form-control"
                       name="last_name" maxlength="150" placeholder="Enter Last Name" id="id_last_name" required>
                <div class="invalid-feedback">Please fill this field.</div>
            </div>

            </div>

            <div class="row">

                            <div class="col"> <label>Username</label>
                <input type="text" class="form-control"
                       name="username" maxlength="150" placeholder="Enter Username"  required id="id_username">
                <div class="invalid-feedback">Please fill this field.</div>
            </div>

            <div class="col"> <label>Email</label>
                <input type="email" class="form-control"
                       name="email" maxlength="254" id="id_email" placeholder="name@domain.com" required>
                <div class="invalid-feedback">Please fill this field.</div>
            </div>

            </div>

            <div class="row">

                            <div class="col"> <label>Password</label>
                <input type="password" class="form-control"
                       name="password1" autocomplete="new-password" required id="id_password1" placeholder="Enter Password" >
                <div class="invalid-feedback">Please fill this field.</div>
            </div>

            <div class="col"> <label>Password confirmation</label>
                <input type="password" class="form-control"
                       name="password2" autocomplete="new-password" required id="id_password2" placeholder="Re-enter password" >
                <div class="invalid-feedback">Please fill this field.</div>
            </div>

            </div>

            <div class = "row">
                <div class="col">

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                        <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                        </label>
                    <div class="invalid-feedback"> You must agree before submitting. </div>

                </div>
            </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type ="submit" class="btn btn-success btn-block" name="Create User" value="Register">
                </div>
            </div>

            <div class="errors">{{form.errors}}</div>

            <em>
                if you are Already a Member <a href = "{% url 'LOGIN' %}">sign in</a>
            </em>


</form>
</div>
<script src ="{% static 'js/script.js' %}"></script>
{% endblock %}

